<div class="p-4">
  <div class="grid grid-cols-3 gap-4">
    @for (product of products; track product.title) {
    <app-product
      (edit)="toggleEditPopup($event)"
      (delete)="toggleDeletePopup($event)"
      [product]="product"
    />
    } @empty {
    <li>There are no items.</li>
    }
  </div>
  <app-edit-popup
    [product]="selectedProduct"
    [(display)]="displayEditPopup"
    (confirm)="onConfirmEdit($event)"
    header="Edit Product"
  ></app-edit-popup>

  <!-- Add Product -->
  <app-edit-popup
    [(display)]="displayAddPopup"
    (confirm)="onConfirmAdd($event)"
    header="Add Product"
  ></app-edit-popup>
</div>
